<h2 md-dialog-title>Edit Route</h2>
    <form (ngSubmit)="updateRoute(myForm)" #myForm="ngForm">
    <md-input-container>
      <input mdInput [(ngModel)]="from" placeholder="From" name="from">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="to" placeholder="To" name="to">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="date" [mdDatepicker]="picker" placeholder="Choose a date" name="date">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>
      <button md-raised-button type="submit"> edit route </button>
    </form>
<p class="error"> {{ error }} </p>
