/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~normalize.css/normalize.css';
body {
  margin: 0;
}
html {
  font-family: 'Raleway', sans-serif;
  > .mat-card {
    font-family: 'Raleway', sans-serif;
  }
}
*:focus {
  outline: 0;
}
button {
  -webkit-appearance: none;
  border: 0;
}
