/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~normalize.css/normalize.css';
body {
  margin: 0;
}
html {
  font-family: 'Raleway', sans-serif;
  > .mat-card {
    font-family: 'Raleway', sans-serif;
  }
}
$main: darkblue;
*:focus {
  outline: 0;
}
button {
  -webkit-appearance: none;
  border: 0;
}
.ngui-auto-complete > ul li {
    font-family: 'Raleway', sans-serif;
    padding: 10px 7px;
    border: 1px solid rgba(60,60,60,0.06);
    font-size: 15px;
}

.ngui-auto-complete > ul {
    background-color: #fff;
    margin: 0;
    width: 100%;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    border: 1px solid rgba(60,60,60,0.05);
    box-sizing: border-box;
    animation: slideDown 0.1s;
    border-top: 0px;
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
}
