<p>
  route-detail works!
</p>
<div *ngIf="route">
  <p>From: {{route.from}}</p>
  <p>To:{{route.to}}</p>
  <p>Date:{{route.date | date:'shortDate'}}</p>
  <p>Creator:hacer populate de usuario</p>
  <button type="button" name="button" (click)="remove(route._id)">delete route</button>
  <button type="button" name="button" (click)="showForm()">EDIT</button>
  <div *ngIf="show">
    <h1> Edit Route </h1>
    <form (ngSubmit)="editRoute(route._id, myForm)" #myForm="ngForm">
      <label> From </label>
      <input type="text" [(ngModel)]="from" name="from"/>
      <label> To </label>
      <input type="text" [(ngModel)]="to" name="to"/>
      <label> Date </label>
      <input type="date" [(ngModel)]="date" name="date"/>

      <button type="submit"> Edit route </button>
    </form>
    <p class="error"> {{ error }} </p>
  </div>
</div>
