$primary-font-color: #fff;
$background-color: darkblue;

.flex-spacer {
  flex: 1 1 auto;
}

.mat-button {
  background: transparent;
  color: $primary-font-color;
  text-transform: uppercase;
}

md-toolbar {
  background: $background-color;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
