<header></header>

<section>
  <h1> search for routes </h1>

  <form (ngSubmit)="searchRoutes(myForm)" #myForm="ngForm">
    <md-input-container>
      <input mdInput [(ngModel)]="from" placeholder="From" name="from" required>
      <md-error>This field is required</md-error>
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="to" placeholder="To" name="to" required>
      <md-error>This field is required</md-error>
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="date" [mdDatepicker]="picker" placeholder="Choose a date" name="date">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>
    <button md-raised-button type="submit"> search </button>
  </form>


    <div class="flex-container wrap">
    <md-card class="flex-item" *ngFor="let route of routes">
      <md-card-header>
        <div md-card-avatar class="header-image"></div>
        <md-card-title>creator: {{route.creator_id}}</md-card-title>
        <md-card-subtitle>BADGES</md-card-subtitle>
        <md-card-subtitle><i>star icon</i><a>promedio de rating</a></md-card-subtitle>
        <md-card-subtitle><a>total de opiniones</a></md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>Date: {{route.date | date:'shortDate'}}</p>
        <p>From: {{route.from}}
        <i>airplane icon</i>
        To: {{route.to}}</p>
        <h1>1 Petitions</h1>
      </md-card-content>
      <md-card-actions>
        <md-button-toggle (click)="newPetition(route._id)">make a petition</md-button-toggle>
      </md-card-actions>
    </md-card>
  </div>
</section>
