<header>
<div class="header-text">
  Peer to Peer Medicines is a community that creates a network of
  humanitarian help, connecting travelers with those who need to send
  urgent medicines to their loved ones in Venezuela.
</div>
</header>
<section>
  <div class="wrapper">
    <h1 class="route-form-title"> Need to send something? </h1>
    <form class="route-form" (ngSubmit)="searchRoutes(myForm)" #myForm="ngForm">
      <md-input-container>
        <input mdInput ngui-auto-complete [(ngModel)]="from" [source]="worldAirports" placeholder="From" name="from" [max-num-list]="10" required>
        <md-error>This field is required</md-error>
      </md-input-container>
      <md-input-container>
        <input mdInput ngui-auto-complete [(ngModel)]="to" [source]="veAirports" placeholder="To" name="to" [max-num-list]="5" required>
        <md-error>This field is required</md-error>
      </md-input-container>
      <md-input-container>
        <input mdInput [(ngModel)]="date" [mdDatepicker]="picker" placeholder="Choose a date" name="date" required>
        <button mdSuffix [mdDatepickerToggle]="picker"></button>
        <md-error>This field is required</md-error>
      </md-input-container>
      <md-datepicker #picker></md-datepicker>
      <button md-raised-button type="submit" class="search"> search </button>
    </form>
  </div>
  <div class="message">
    <h3>{{message}}</h3>
  </div>
  <div class="flex-container wrap">
    <md-card class="flex-item" *ngFor="let route of routesData">
      <md-card-header>
        <div md-card-avatar class="header-image"></div>
        <md-card-title class="username"><a *ngIf="session.user" [routerLink]="['/user', route.route.creator_id._id]">{{route.route.creator_id.name}}</a></md-card-title>
        <md-card-title class="username"><a *ngIf="!session.user" [routerLink]="['login']">{{route.route.creator_id.name}}</a></md-card-title>
        <md-card-subtitle class="rating">
          <div class="star-icon"></div>
          <span *ngIf="route.route.creator_id.ratingTotal">{{route.route.creator_id.ratingTotal/route.ratings.length}}/5</span>
          <span *ngIf="!route.route.creator_id.ratingTotal">0/5</span>
          - {{route.ratings.length}} reviews
        </md-card-subtitle>
        <md-card-subtitle>
          <img *ngIf="route.route.creator_id.badges[0].active" src="{{route.route.creator_id.badges[0].img}}" alt="1flight" class="badges">
          <img *ngIf="route.route.creator_id.badges[1].active" src="{{route.route.creator_id.badges[1].img}}" alt="3flight" class="badges">
          <img *ngIf="route.route.creator_id.badges[2].active" src="{{route.route.creator_id.badges[2].img}}" alt="5flight" class="badges">
          <img *ngIf="route.route.creator_id.badges[3].active" src="{{route.route.creator_id.badges[3].img}}" alt="take3"  class="badges">
          <img *ngIf="route.route.creator_id.badges[4].active" src="{{route.route.creator_id.badges[4].img}}" alt="take6"  class="badges">
          <img *ngIf="route.route.creator_id.badges[5].active" src="{{route.route.creator_id.badges[5].img}}" alt="take 10" class="badges">
          <img *ngIf="route.route.creator_id.badges[6].active" src="{{route.route.creator_id.badges[6].img}}" alt="rate3" class="badges">
          <img *ngIf="route.route.creator_id.badges[7].active" src="{{route.route.creator_id.badges[7].img}}" alt="rate5" class="badges">
          <img *ngIf="route.route.creator_id.badges[8].active" src="{{route.route.creator_id.badges[8].img}}" alt="rate10" class="badges">
          <img *ngIf="route.route.creator_id.badges[9].active" src="{{route.route.creator_id.badges[9].img}}" alt="reject3" class="badges">
          <img *ngIf="route.route.creator_id.badges[10].active" src="{{route.route.creator_id.badges[10].img}}" alt="signup" class="badges">
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div class="entire-route">
          <div class="route">
            <span class="airplane takeoff"></span>
            {{route.route.from}}
          </div>
          <div class="route">
            <span class="airplane landing"></span>
            {{route.route.to}}
          </div>
        </div>
        <p class="route-date">{{route.route.date | date:'fullDate'}}</p>
      </md-card-content>
      <md-card-actions>
        <p class="petitions">{{route.petitions.length}} Petitions</p>
        <span *ngIf="session.user">
          <button *ngIf="route.route.creator_id._id !== session.user._id" class="action" (click)="newPetition(route.route._id, $event)">Make a petition</button>
        </span>
        <span *ngIf="!session.user">
          <button class="action" [routerLink]="['login']">Make a petition</button>
        </span>
      </md-card-actions>
    </md-card>
  </div>
</section>
<div class="info">
  <div class="wrapper">
    <div class="info-content">
      <div class="info-section">
        <img src="/assets/icons/shield.svg" alt="" style="display: block!important;" class="icons-home">
        <div class="info-section-title">Trustworthy</div>
        <p>Send medicines to your loved ones in a safe way.</p>
      </div>
      <div class="info-section">
        <img src="/assets/icons/pulse.svg" alt="" style="display: block!important;" class="icons-home">
        <div class="info-section-title">Caring</div>
        <p>Help those that need it the most for a good cause.</p>
      </div>
      <div class="info-section">
        <img src="/assets/icons/fast-forward.svg" alt="" style="display: block!important;" class="icons-home">
        <div class="info-section-title">Fast</div>
        <p>Go through a quick and easy process designed for urgent needs.</p>
      </div>
    </div>
  </div>
</div>
