<footer class="footer-distributed">

			<div class="footer-left">

				<h3>p2p<span>Meds</span></h3>

				<p class="footer-company-name">p2pMeds &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Paseo de la chopera, 14</span> Madrid, Spain</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+34 622 17922</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:mcalderarorey@gmail.com">support@p2pmeds.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
          Peer to Peer Medicines is a community that creates a network of
          humanitarian help, connecting travelers with those who need to send
          urgent medicines to their loved ones in Venezuela.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>
