button {
  display: block;
  text-transform: uppercase;
}

md-input-container {
  display: block;
}

form {
  box-sizing: border-box;
  margin: 0 auto;
  width: 60%;
}

section {
  margin-top: 90px;
}

.ngui-auto-complete > ul li {
    padding: 10px 7px;
    border: 1px solid rgba(60,60,60,0.06);
    font-weight: 100;
}

.ngui-auto-complete > ul {
    background-color: #fff;
    margin: 0;
    width: 100%;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    border: 1px solid rgba(60,60,60,0.05);
    box-sizing: border-box;
    animation: slideDown 0.1s;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
